  <% layout("/layouts/boilerplate") %>

   <form method="post" action="/listings" class="needs-validation" novalidate >
  <div class="row">
    <div class="col-8 offset-2  mt-3">      
    <h3>Create a New Listing</h3>
        <div class="mb-3 ">
        <label for="title" class="form-label " >Title</label>
        <input name="listing[title]" placeholder="Add a cachy title" type="text" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
        </div>
         <div class="invalid-feedback">Enter a valid title</div>
        </div>
        <div class="mb-3 " >
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
             <div class="invalid-feedback"> please enter a short description</div>
        </div>
        <div class="mb-3 " >
            <label for="image" class="form-label">Image link</label>
            <input name="listing[image]" placeholder="enter image URL/link" type="text" class="form-control" >
        </div>
        <div class="row">
         <div class="mb-3 col-4 " >
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" placeholder="1,200" type="number" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-8 " >
            <label for="country" class="form-label">country</label>
                   <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">country should be valid</div>
        </div>
        </div>

        <div class="mb-3 ">
            <label for="location" class="form-label">Location</label>
             <input name="listing[location]" placeholder="jaipur, Rajasthan" type="text" class="form-control" required>
              <div class="invalid-feedback">location should be valid</div>
        </div>

        <button class="btn btn-dark add-btn mb-3 mt-3">Add</button>
   
 </div>
  </div>
  
     </form>