  <% layout("/layouts/boilerplate") %>

 <form method="post" action="/login" class="needs-validation" novalidate >
  <div class="row">
    <div class="col-8 offset-2  mt-3">      
    <h3>Login on wanderlust</h3>
        <div class="mb-3 ">
        <label for="username" class="form-label " >Username</label>
        <input name="username" id="username" class="form-control" required>

         <label for="password" class="form-label " >password</label>
        <input type="password" name="password" id ="password" class="form-control" required>

         <button class="btn btn-success mt-3">login</button>

        </div>
</div>
</div>
</form>
